.work{

    margin-top: 90px;


    &__h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        text-align: center;
        color: #1C2323;       
    }

    &__text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #404242;      
    }


    &__flex{
        display: flex;
    }

    &__div{
        width: 549px;
        height: 350px;
        background: #CCF0E6;
        border-radius: 0px 10px 10px 0px;
    }
}